  <%= render "shared/errors", obj: @blog %>
  <%= form_tag form_url, method: form_method, multipart: true do %>
  
  <div class="mb-7">
    <%= label_tag :title, "Title", class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= text_field_tag :title, @blog.title, class: "w-full border border-gray-600 text-gray-900 text-sm rounded-lg p-2.5" %>
  </div>
  
  <div class="mb-7">
    <%= label_tag :description, "Description", class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= text_area_tag :description, @blog.description, rows: 6, class: "w-full border border-gray-600 text-gray-900 text-sm rounded-lg p-2.5" %>
  </div>
  
  
  <div class="mb-7">
    <%= label_tag :image, "Upload image", class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= file_field_tag :image, class: "block w-full text-sm text-gray-900 border border-gray-400 rounded-lg cursor-pointer p-2.5"  %>
    
    <% if show_current_image && @blog.image.present? %>
    <p class="mt-5">Current Image:</p>
    <%= image_tag(@blog.image.url, width: 120) %>
    <% end %>
  </div>
  
  
  
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <%= link_to "Cancel", blogs_path, class: "text-sm/6 font-semibold text-gray-900" %>
    <%= submit_tag submit_text, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500" %>
  </div>
  
  <% end %>
  
  
