

<section class="py-10 sm:py-20">
<!-- heading -->
      <div class="mb-16">
        <h2 class="text-3xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-4xl mb-2">Meet our bloggers</h2>
        <p class="text-lg text-gray-600 w-[40%]">A diverse community of writers sharing unique stories, helpful tips, and inspiring ideas — all in one place.</p>
      </div>

      <div class="flex justify-start flex-wrap gap-10">
        <% @users.each do |user| %>
          <%= link_to user_path(user), class: "w-full sm:w-[48%] lg:w-[30%] transform transition duration-300 hover:scale-105" do %>
            <div class="flex items-center gap-4 bg-white shadow-md p-4 rounded-lg cursor-pointer">
              
              <!-- Avatar -->
              <span class="w-14 h-14 flex items-center justify-center rounded-full bg-blue-600 text-white text-xl font-semibold shadow">
                <%= user.avatar_letter %>
              </span>
      
              <!-- Blogger Info -->
              <div>
                <h3 class="text-lg font-semibold text-gray-900"><%= user.username %></h3>
                <p class="text-sm text-indigo-600"><%= user.usertitle %></p>
              </div>
      
            </div>
          <% end %>
        <% end %>
      </div>
      
</section>
  



<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>